<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
		<li><a href="{{ site.url }}/">Home</a></li>
		<li><a href="{{ site.url }}/about">About</a></li>
		<li><a href="{{ site.url }}/cv">CV</a></li>
		<li><a href="{{ site.url }}/teaching">Teaching</a></li>
		<li><a href="{{ site.url }}/research">Research</a></li>
		<li><a href="{{ site.url }}/Rposts">R</a></li>
		<li><a href="{{ site.url }}/blog">Blog</a></li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->



<div class="js-menu-screen menu-screen"></div>
