<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head3.html %}
</head>

<body id="landing-page">
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
{% include browser-upgrade.html %}
{% include navigation.html %}




<div class="main">
<div class="wrapper">
	<a href="{{site.url}}/about/" class="purp">About Me</a>
	<a href="{{site.url}}/cv/" class="yel">CV</a>
	<a href="{{site.url}}/teaching/" class="purp">Teaching</a>
	<a href="{{site.url}}/research/" class="yel">Research</a>
	<a href="{{site.url}}/Rposts/" class="purp">R</a>
	<a href="{{site.url}}/blog/" class="yel">Blog</a>

</div>
</div><!-- /#main -->




<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}   
</body>
</html>

